<%- include('header') %>

<div class="ui grid">
  <div class="four wide column">
    <a class="avatar avatar-link"
       href="/posts?author=<%= user._id %>"
       data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
       data-content="<%= user.bio %>">
      <img class="avatar" src="/img/<%= user.avatar %>">
    </a>
  </div>

  <div class="eight wide column">
    <form class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="field required">
        <label>电影名称</label>
        <input placeholder="电影名称" type="text" name="title">
      </div>
      <div class="field required">
        <label>评分</label>
        <input placeholder="评分" type="rating" name="rating">
      </div>

      <div class="field required">
        <label>图片</label>
        <input type="file" name="image">
      </div>
      <div class="field required">
        <label>电影简介</label>
        <textarea name="bio" rows="5"></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="添加">
    </form>
  </div>
</div>

<%- include('footer') %>
